Python Casting

In [1]:
x = int(1.4)

In [2]:
x

1

In [3]:
y = float(2)
print(y)

2.0

In [4]:
z = str(3)
z

'3'

In [5]:
print(float("3"))

3.0

In [6]:
print(str(3.5))

3.5

In [7]:
p = str(3.9)
print(p)

3.9

In [8]:
type(p)

str

In [9]:
type(z)

str

In [10]:
type(x)

int

In [11]:
type(y)

float

In [12]:
q = 3e2

In [13]:
q

300.0

In [14]:
type(q)

float

In [15]:
r = -4e5
r

-400000.0

In [16]:
type(r)

float

In [17]:
_num = 34
a = float(_num)

In [18]:
a

34.0

In [19]:
my_num = 8 - 5j
b = str(my_num)
print(b)

(8-5j)

In [20]:
type(b)

str

In [22]:
My1stNumber = int(input("Enter the 1st number: "))
My2ndNumber = int(input("Enter the 2nd number: "))
sum = My1stNumber + My2ndNumber
print("The sum is :", sum)

The sum is : 35

String

In [23]:
a = "Hello Osman"
a

'Hello Osman'

Multiline string

In [24]:
b = """" Osman is a good boy..........
He studies regurlarly.
And, he is a honest guy."""
print("The truth abut Osman:", b)

The truth abut Osman: " Osman is a good boy..........
He studies regurlarly.
And, he is a honest guy.

In [25]:
b = ''' Osman is a good boy..........
He studies regurlarly.
And, he is a honest guy. '''
print("The truth abut Osman:", b)

The truth abut Osman:  Osman is a good boy..........
He studies regurlarly.
And, he is a honest guy.

Strings as Loop

In [26]:
p = "Jacob is playing football"
for n in p:
    print(n)

J
a
c
o
b

i
s

p
l
a
y
i
n
g

f
o
o
t
b
a
l
l

Strings as Array

In [27]:
p = "Jacob is playing football"
print(p[1])

a

In [28]:
p = "Jacob is playing football"
print(p[7])

s

In [29]:
p = "Jacob is playing footb3ll"
print(p[1:10])

acob is p

In [30]:
p = "football"
for x in p:
    print(x)

f
o
o
t
b
a
l
l

String Length

In [31]:
len(p)

8

In [32]:
p = "Jacob is playing footb3ll"
if 'z' in p:
    print("True, 'b' is present")
else:
    print("No, 'z' is not present")

No, 'z' is not present

In [33]:
a = 2
b = 3
sum = a + b
print("The sum is :", sum)

The sum is : 5

In [34]:
x = "Hello"
z = 23
print(bool(x))
print(bool(z))

True
True

Python Operators

In [35]:
3 + 4

7

In [36]:
print(9-7)

2

Arithmetic

In [37]:
9 + 8

17

In [38]:
11 - 8

3

In [39]:
12 * 9

108

In [40]:
15 / 3

5.0

In [41]:
3** 2

9

Floor Division

In [42]:
13 // 3

4

Modulus

In [43]:
23 % 7

2

Assignment

In [44]:
a = 34
print(a)

34

In [45]:
x = 5
x += 1
print(x)

6

In [46]:
y = 56
y -= 5
y

51

In [47]:
print(y)

51

In [48]:

x = 8
x = x*2
print(x)

16

In [49]:

x = 4
x = x ** 3

In [50]:
x

64

In [51]:
x /= 4

In [52]:
x

16.0

In [53]:
x = x /4

In [54]:
x

4.0

In [55]:
x //=3

In [56]:
x

1.0

In [57]:
x = x*5

In [58]:
x

5.0

In [59]:
x %= 3

In [60]:
x

2.0

In [61]:
x **= 4

In [62]:
x

16.0

In [63]:
x = int(x) & 3
x

0

In [64]:
x = int(x) & 5
x

0

In [65]:
x = x + 12
x

12

In [66]:
x |= 3

In [67]:
x

15

In [68]:
x ^= 2

In [69]:
x

13

Comparison

In [70]:
a = 5
b = 7
if a == b:
    print(True)
else:
    print(False)

False

In [71]:
a = 5
b = 7
if a != b:
    print(True)
else:
    print(False)

True

In [72]:
a = 5
b = 7
if a >= b:
    print(True)
else:
    print(False)

False

In [73]:
a = 5
b = 7
if a <= b:
    print(True)
else:
    print(False)

True

In [74]:
a = 5
b = 7
if a > b:
    print(True)
else:
    print(False)

False

In [75]:
a = 5
b = 7
if a < b:
    print(True)
else:
    print(False)

True

In [76]:
a = 5
b = 7
if a > 5 and b > 5:
    print(True)
else:
    print(False)

False

In [77]:
a = 5
b = 7
if a > 5 or b > 5:
    print(True)
else:
    print(False)

True

In [78]:
a = 5
b = 7
if not a > 5 and b > 5:
    print(True)
else:
    print(False)

True

In [79]:
a = 5
b = 7
if  a > 5 and not b > 5:
    print(True)
else:
    print(False)

False

Identity

In [80]:
x = 78
y = x
z = 89
if x is y:
    print(True)
else:
    print(False)

True

In [81]:
x = 78
y = x
z = 89
if x is z:
    print(True)
else:
    print(False)

False

In [82]:
x = 78
y = x
z = 89
if x is not z:
    print(True)
else:
    print(False)

True

In [83]:

fruits = ["apple", "banana", "orange"]

In [84]:
x = "apple"
if x in fruits:
    print(True)
else:
    print(False)

True

In [85]:
x = "mango"
if x in fruits:
    print(True)
else:
    print(False)

False

In [86]:
x = "apple"
if x not in fruits:
    print(True)
else:
    print(False)

False

In [87]:
x = "mango"
if x not in fruits:
    print(True)
else:
    print(False)

True

In [88]:
print(6 & 3)

2

In [89]:
print(2 or 3)

2

In [90]:
print( 2 | 3)

3

In [91]:
print( 6^3)

5

In [92]:
print(~2)

-3

In [93]:
print(5>>2)

1

In [94]:
print(3<<2)

12

In [95]:
print((3+4)- 14/7*3)

1.0

Mutable Data Types

#List

In [96]:
vehicles = ["bus", "cars", "trucks"]

In [97]:
vehicles.append("minibus")

In [98]:
vehicles

['bus', 'cars', 'trucks', 'minibus']

#Dictionary

In [100]:
dict = {"name": "Asif", "Age": 27}

In [104]:
dict["Profesion"] = "Student"

In [105]:
dict

{'name': 'Asif', 'Age': 27, 'Profesion': 'Student'}

Set

In [107]:
A = {2,3,4,5,6}

In [108]:
A.add(9)

In [109]:
A

{2, 3, 4, 5, 6, 9}

Immutable Data Types

In [110]:
#Integer
x = 35

In [111]:
x +=4

In [112]:
x

39

In [113]:
#float
y = 34.6

In [114]:
y = y + 34

In [115]:
y

68.6

Str

In [116]:
str = "Hello"

In [117]:
str = "h" + str[1:]

In [118]:
str

'hello'

Tuple

In [119]:
 tuple = ("man", "women", "child")

Range

In [120]:
num = range(1,9)

In [121]:
num

range(1, 9)

In [122]:
list(num)

[1, 2, 3, 4, 5, 6, 7, 8]

In [124]:
set(num)

{1, 2, 3, 4, 5, 6, 7, 8}

 Data Structures:

List, Set, Tuple, Dictionry etc

Data Type and Operations:

String

In [125]:
text = " Students are playing Football "

In [126]:
len(text)

31

In [129]:
first_eight = text[:8]
first_eight

' Student'

In [135]:
last_nine = text[:9]

In [136]:
last_nine

' Students'

In [137]:
concat1 = "He is a student"
concat2 = "of Class Nine"
result = concat1 + " " + concat2
print(result)

He is a student of Class Nine

In [140]:
text.upper()

' STUDENTS ARE PLAYING FOOTBALL '

In [141]:
text.lower()

' students are playing football '

In [142]:
text.strip()

'Students are playing Football'

In [144]:
position = text.find("are")

In [145]:
position

10

In [146]:
new_text = text.replace("are", "Are")

In [147]:
new_text

' Students Are playing Football '

In [148]:
find = "football" in text

In [149]:
find

False

In [150]:
find1 = "Football" in text
find1

True

In [151]:
text.split()

['Students', 'are', 'playing', 'Football']

In [154]:
list = ['Students', 'are', 'playing', 'Football']
" ".join(list)

'Students are playing Football'

In [156]:
name = "Sumon"
age = 34
info = f"My name is {name} and I am {age} years old"
info

'My name is Sumon and I am 34 years old'

In [157]:
text[::-1]

' llabtooF gniyalp era stnedutS '